/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated
*.cmd                eol=crlf linguist-vendored
/mvnw                eol=lf linguist-vendored
